:root{
    --darkblue:#2A3951;
    --light: #E3E5E7;
}

*{
    color: var(--darkblue)
}

#navigationBar{
    color: var(--darkblue);
}

.nav-link, .active{
    color: var(--darkblue);
}

.monday{
    display: flex;
    justify-content: space-between;
}

ul{
    margin:0px;
}

#navbarScroll{
    justify-content: flex-end;
}

#navbarContent{
    width: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

body{
    font-family: "Poppins", sans-serif;
}

#jumbotronContainer{
    margin-left: 0px;
    margin-right: 0px;
    height: 40vh;
    display: flex;
    align-items: center;
}

.jumbotron{
    background-image: url(./images/depositphotos_362193794-stock-illustration-boba-tea-seamless-pattern-vector.jpeg);
}

#contentContainer{
    margin-top: 30px;
    width: 80%;
}

#instagram, #phone{
    margin-right: 5px;
    margin-left: 5px;
}

.menuCards{
    display: flex;
    justify-content: center;
}


#contactIcons{
    align-items: center;
    display:flex;
    justify-content: center;
}

#footer{
    text-align: center;
    padding-top: 20px;
}

h3{
    text-align: center;
    font-weight: 600;
}

#kellie{
    color: var(--darkblue);
    text-decoration: none;
}

#nyle:hover, #kellie:hover{
    cursor:auto;
}

@media screen and (max-width: 992px){
    #hours{
        display: none;
    }
}

@media screen and (min-width: 991px) {
    #newHours{
        display: none;
    }
}

#sideBarHours, #location{
    text-align: left;
}

#locationContainer{
    margin-top: 100px;
}

#fullMenuRow{
    background-color: gainsboro;
    border-radius: 10px;
}

h4{
    font-style: italic;
    font-weight: 600;
}