:root{
    --darkdarkblue: #202D42;
    --darkblue:#2A3951;
    --light: #E3E5E7;
}

*{
    color: var(--darkblue)
}

#navigationBar{
    background-color: var(--light);
    color: var(--darkblue);
}

.nav-link{
    color: var(--darkblue);
}

body{
    font-family: "Poppins", sans-serif;
}

#jumbotronContainer{
    margin-left: 0px;
    margin-right: 0px;
    height: 30vh;
    display: flex;
    align-items: center;
}

.jumbotron{
    background-image: url(./images/depositphotos_362193794-stock-illustration-boba-tea-seamless-pattern-vector.jpeg);
}