:root{
    --darkdarkblue: #202D42;
    --darkblue:#2A3951;
    --light: #E3E5E7;
}

*{
    color: var(--darkblue)
}

#navigationBar{
    background-color: var(--light);
    color: var(--darkblue);
}

.nav-link, .active{
    color: var(--darkblue);
}

body{
    font-family: "Poppins", sans-serif;
}

#jumbotronContainer{
    margin-left: 0px;
    margin-right: 0px;
    height: 25vh;
    display: flex;
    align-items: center;
}

.jumbotron{
    background-image: url(./images/depositphotos_362193794-stock-illustration-boba-tea-seamless-pattern-vector.jpeg);
}

#instagram, #phone{
    margin-right: 10px;
}

#contactIcons{
    align-items: center;
    display:flex;
    justify-content: center;
}

h2{
    text-align: center;
}

@media screen and (max-width: 992px){
    #hours{
        display: none;
    }
}

@media screen and (min-width: 991px) {
    #newHours{
        display: none;
    }
}